[submodule "third_party/unit"]
	path = third_party/unit
	url = git@github.com:tomkrush/unit.git
[submodule "third_party/jot"]
	path = third_party/jot
	url = git@github.com:tomkrush/Jot.git
[submodule "system/database/drivers/sqlite3"]
	path = system/database/drivers/sqlite3
	url = git@github.com:tomkrush/SQLite3-Driver.git
